* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}
.box2 {
  max-width: 200px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

.num {
  font-size: 25px;
}

.add {
  border: none;
  background-color: green;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 10px;
  color: aliceblue;
}

.sub {
  border: none;
  background-color: red;
  padding: 10px 25px;
  border-radius: 5px;
  color: aliceblue;
}
.res {
  border: none;
  background-color: blueviolet;
  padding: 10px 25px;
  border-radius: 5px;
  color: aliceblue;
  width: 40%;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 22px;
  text-align: s;
  margin: 20px;
}

img {
  max-width: 40px;
}

ul {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

li {
  font: 16px;
  list-style: none;
  margin: 20px 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  box-shadow: rgb(62, 150, 0) 0px 1px 4px;
}

li.incomplete {
  box-shadow: rgba(135, 20, 0, 0.689) 0px 1px 4px;
}

button.delete {
  border: 0px;
  border-radius: 5px;
  background-color: #be3434;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}

button.trigger {
  border: 0px;
  border-radius: 5px;
  background-color: #0f3460;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}

.box {
  width: 400px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px 5px;
  border: 0px;
  border-radius: 5px;
}

.box.success {
  background-color: #baffbf;
}

.box.alert {
  background-color: #ffb4b4;
}

.box.warning {
  background-color: #ffdeb4;
}

.box p {
  margin: 10px;
}

.box p.title {
  font-size: 20px;
}

.box p.description {
  font-size: 14px;
}

.hidden {
  display: none;
}
/* Add task */
.addtask {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
}

.addtask form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.addtask label {
  font-size: 20px;
  margin-right: 5px;
}

.addtask input {
  font-size: 18px;
  padding: 7px;
  border: 1px solid #878787;
  border-radius: 5px;
  flex-grow: 1;
  margin: 10px;
}

.addtask input:focus {
  outline: none;
}

.addtask select {
  font-size: 18px;
  padding: 7px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.addtask button {
  font-size: 16px;
  padding: 7px 10px;
  margin: 10px;
  background-color: rgb(1, 177, 101);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.addtask span {
  font-size: 16px;
  padding: 7px 10px;
  margin: 10px;
  background-color: rgb(177, 42, 1);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
